* {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    font-weight: normal;
}

thead {
    font-weight: bold;
    text-align: center;
    background-color: #79addc;

}

table {
    margin: 0 auto;
    /* border: 2px solid rgb(99, 206, 255); */
    border: 2px solid #79addc;
    max-width: 900px;
}

td {
    /* border-bottom: 1px solid rgb(99, 206, 255); */
    border-top: 1px solid #79addc;
}

.code {
    /* background-color: rgb(255, 220, 107); */
    background-color: #ffee93;
}

p {
    text-align: center;
}

img {
    width: 240px;
    height: auto;
}